GDRIVE BOT.json
{
  "name": "GDRIVE BOT",
  "nodes": [
    {
      "parameters": {},
      "id": "f675142a-7f8a-4efb-a165-1db98844055c",
      "name": "Embeddings Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "position": [
        416,
        528
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "YZAy0A1mgA7g1ncy",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "loader": "pdfLoader",
        "options": {}
      },
      "id": "e47ac08a-6f83-4c55-a45a-46ca9a861114",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        560,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 10000,
        "chunkOverlap": 100,
        "options": {}
      },
      "id": "bab92b38-50c1-4b5b-9094-1fdef8501d7a",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        592,
        672
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful and intelligent assistant. Use the information retrieved from the Pinecone Vector Store to answer or summarize based on the user’s uploaded documents. If the user asks for a summary, generate a clear and concise summary of the document content.\n"
        }
      },
      "id": "2efe167f-e5c6-40de-9fe3-88698123bff5",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -16,
        1088
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "name": "company_docs",
        "description": "Retrieve and summarize content from uploaded Google Drive documents.\n"
      },
      "id": "8f75272d-80a6-4fce-8789-050d867bbc46",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        368,
        1232
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": "gemini-drive-rag"
        },
        "options": {}
      },
      "id": "568d5301-f575-40f6-a6e7-87aa2d05f30d",
      "name": "Pinecone Vector Store (Retrieval)",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        288,
        1488
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "vjA31PZEwQ2xCZrw",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "1938c81c-fce3-4772-8a5d-b5246bac2133",
      "name": "Embeddings Google Gemini (retrieval)",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "position": [
        272,
        1648
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "YZAy0A1mgA7g1ncy",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "fileName": "={{ $json.name }}"
        }
      },
      "id": "ab9975ff-ec08-41bf-a507-565305946ea2",
      "name": "Download File From Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        32,
        320
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "stdqDjwMcGOjqAz2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "list",
          "value": "1evDIoHePhjw_LgVFZXSZyK1sZm2GHp9W",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1evDIoHePhjw_LgVFZXSZyK1sZm2GHp9W",
          "cachedResultName": "INNOVI PRO"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "d0c76926-c9ca-492a-81df-08e97db9ef79",
      "name": "Google Drive File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        -304,
        384
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "stdqDjwMcGOjqAz2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1brTyAGhDAHpKIuncR637gmXdI8_SkhzP",
          "mode": "list",
          "cachedResultName": "AGENTIC AI",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1brTyAGhDAHpKIuncR637gmXdI8_SkhzP"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "id": "afcf6103-4031-4d06-b5fb-d49e97e1cd7f",
      "name": "Google Drive File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        -304,
        128
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "stdqDjwMcGOjqAz2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": "={{ 5 }}"
      },
      "id": "e0b7eeeb-0755-4d11-ac1c-3091e9468097",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        64,
        1392
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "99cf15cf-554f-4c5a-b4c2-5a32db0667e8",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -368,
        1088
      ],
      "webhookId": "5f1c0c82-0ff9-40c7-9e2e-b1a96ffe24cd",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "id": "52238f94-a39e-4c9b-8e89-e7279ade3aa9",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -128,
        1392
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "YZAy0A1mgA7g1ncy",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "id": "712cdfcd-e203-4f79-bd3d-2482920175ad",
      "name": "Google Gemini Chat Model (retrieval)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        640,
        1488
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "YZAy0A1mgA7g1ncy",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "gemini-drive-rag",
          "mode": "list",
          "cachedResultName": "gemini-drive-rag"
        },
        "options": {}
      },
      "id": "a1f37e35-9818-49f7-b071-f569c2f9ef47",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        544,
        240
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "vjA31PZEwQ2xCZrw",
          "name": "PineconeApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Created": {
      "main": [
        [
          {
            "node": "Download File From Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Updated": {
      "main": [
        [
          {
            "node": "Download File From Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File From Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store (Retrieval)": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini (retrieval)": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store (Retrieval)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model (retrieval)": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7f09fb47-b823-4770-b9ac-b68d31b9f357",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3fe760d7f708849304f153905f12198fec7840f56c09c45cd04277fab4b47f9f"
  },
  "id": "velnqht1G5Jsv76J",
  "tags": []
}